<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome, <%= username %>!</h1>
  <p><strong>Quote of the Day:</strong> <%= quote %></p>
  <p><strong>Today’s Date:</strong> <%= date %></p>
  

  <a href="/logout">Logout</a>
</body>
</html>
